body {
    background: #E8E8E8;
}
    
#vision-board {
    width: 1200px;
    height: 850px;
    margin: 90px auto;
    overflow: auto;
    background-image: url("../img/background.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #3b3b3b;
}

.block {
    float: left;
    width: 400px;
    box-sizing: border-box;
   }

.small-block {
    height: 210px;
    padding: 25px 40px;
}

.large-block {
    height: 430px;
    padding: 60px 40px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.light-bg {
    background-color: #FFFFFF;
}

.dark-bg {
    background-color: #3b3b3b;
}

.title {
    font-size: 30px;
    color: #FFFFFF;
}

.marker {
    font-family: 'Permanent Marker';
}

.highlight {
    background-color: #FFF44F;
    padding: 5px 10px;
}

.goals {
    font-size: 38px;
    text-transform: none;
}

.top-padding {
    padding-top: 40px;
}